.user-repos{
    display: grid;
    padding-top: 4rem;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem 3rem;
}

.repo-card{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.1rem;
}

.repo-heading{
    color: #428BCA;
    font-size: 2rem;
    margin-top: 0;
}

.repo-description{
    font-size: 1rem;
}

.repo-topic-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.repo-topic{
    background-color: #428BCA;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.repo-navigator{
    grid-column: 1/3;
    margin: 0 auto;
    margin-top: 2rem;
}
.left-nav{
    border-radius: 0.5rem 0 0 0.5rem;
}
.right-nav{
    border-radius: 0 0.5rem 0.5rem 0;
}
.repo-navigation-button{
    background-color: white;
    border: 0.1rem solid #DADADA;
    color:#428BCA;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.75rem 0.9rem;
    transition: 0.1s all ease-out;
    cursor: pointer;
}
.repo-navigation-button > img{
    height: 0.75rem;
}
.repo-navigation-button.active{
    background-color: #428BCA;
    color: white;
    border: 0.1rem solid #428BCA;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 768px) {
    .user-repos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
}